.type-102 a {
  text-decoration: none;
  color: #505050;
}
.type-102 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.type-102 li {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.type-102 button {
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.type-102 button,
.type-102 button:hover,
.type-102 button:focus,
.type-102 button:active {
  outline: none;
}
.type-102 header {
  padding: 10px 0;
}
@media only screen and (max-width: 979px) {
  .type-102 header {
    padding-bottom: 0;
  }
}
.type-102 .header-links {
  display: block;
  vertical-align: middle;
  text-align: right;
  position: relative;
  width: 100%;
}
.type-102 .header-links ul {
  display: block;
  width: 100%;
}
.type-102 .header-links a {
  transition: color 0.2s ease-out;
}
.type-102 .header-links a:hover {
  color: #DA151F;
}
@media only screen and (min-width: 780px) {
  .type-102 .header-links ul {
    margin-top: 25px;
    padding-right: 25px;
  }
  .type-102 .header-links a {
    padding: 20px;
    margin-right: 5px;
  }
}
@media only screen and (max-width: 779px) {
  .type-102 .header-links ul {
    padding: 0 30px;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s cubic-bezier(0.25,0.46,0.45,0.94);
  }
  .type-102 .header-links .show-menu {
    max-height: 280px;
  }
  .type-102 .header-links li {
    width: 100%;
  }
  .type-102 .header-links li:first-child a {
    padding-top: 40px;
  }
  .type-102 .header-links li:last-child a {
    padding-bottom: 8px;
  }
  .type-102 .header-links a {
    display: block;
    width: 100%;
    padding: 12px 0;
    background: #ECECEC;
  }
}
@media only screen and (min-width: 780px) {
  .type-102 .header-links .tablet-hidden {
    display: none !important;
  }
}
.type-102 .link-menu {
  display: none;
  padding: 26px;
  margin-right: 4px;
  position: relative;
  top: -5px;
}
@media only screen and (max-width: 779px) {
  .type-102 .link-menu {
    display: inline-block;
  }
}
