
a{text-decoration:none;color:#505050}
ul{list-style:none;padding:0;margin:0}
li{padding:0;margin:0;display:inline-block}
button{border:none;background:none;box-shadow:none;text-shadow:none;-webkit-appearance:none;-moz-appearance:none;cursor:pointer}
button,button:hover,button:focus,button:active{outline:none}

body{background:white}
header{padding:10px 0}

@media only screen and (max-width: 979px){
    header{padding-bottom:0}
}
.header-links{display:block;vertical-align:middle;text-align:right;position:relative;width:100%}
.header-links ul{display:block;width:100%}.header-links a{transition:color 0.2s ease-out}
.header-links a:hover{color:#DA151F}

@media only screen and (min-width: 780px){
    .header-links ul{margin-top:25px;padding-right:25px}
    .header-links a{padding:20px;margin-right:5px}
}

@media only screen and (max-width: 779px){
    .header-links ul{padding:0 30px;text-align:center;max-height:0;overflow:hidden;transition:max-height 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)}
    .header-links .show-menu{max-height:280px}.header-links li{width:100%}.header-links li:first-child a{padding-top:40px}
    .header-links li:last-child a{padding-bottom:8px}.header-links a{display:block;width:100%;padding:12px 0;background:#ECECEC}
}

@media only screen and (min-width: 780px){
    .header-links .tablet-hidden{display:none !important}
}

.link-menu{display:none;padding:26px;margin-right:4px;position:relative;top:-5px}
@media only screen and (max-width: 779px){
    .link-menu{display:inline-block}
}
.container{
    height: 1000px
}




