.type-305{
    .build {
        clear: both;
        text-align: center;
        background: #edeeee;
        padding-top: 100px;

        h2 {
            font-weight:  300;
            letter-spacing: 2px;
            font-size:  40px;
            line-height: 40px;
        }

        h3 {
            font-family: Lora,serif;
            font-style: italic;
            letter-spacing: 3px;
            font-size: 24px;
            line-height:  26px;
            font-weight: 300;
            color:#707070;
            .mfn-builder-icon {
                display: inline-block;
                width: 33px;
                height: 29px;
                position: relative;
                top: 5px;
                margin-right: 8px;
                background: url(../image/splash_icon_mb.png) no-repeat;
            }
            .or {
                color: #9ea1a1;
                margin: 0 30px;
            }

            .mfn-composer-icon {
                display: inline-block;
                width: 28px;
                height: 28px;
                position: relative;
                top: 5px;
                margin-right: 8px;
                background: url(../image/splash_icon_vc.png) no-repeat;
            }
        }

        .ganeral {
            margin-top: 76px;
            .image {
                padding: 0 30px;
            }     
        }
    }

    .building {

        width: 100%;

        .buiding-blue {
            text-align: center;
            float:left;
            width: 50%;
            height: 797px;
            background-color: rgba(0,149,235,.7);
            .title {

                margin-left:  28%;
                max-width: 530px;
                margin-top: 208px;
                h2 {
                    font-weight: 300;
                    letter-spacing: 2px;
                    font-size: 40px;
                    line-height: 40px;
                }
                .no_line {
                    border-top: 1px solid rgba(255, 255, 255, 0.3);
                }

                .muffy {
                    margin-right: 5%;
                    .image_wrapper {
                        border-color: #e2e2e2;
                        position: relative;

                        box-sizing: border-box;
                        max-width: 420px;
                        height: 71px;
                        img {

                            max-width: 100%;
                            height: auto;

                        }
                    }
                }

            }
        }
        .building-black {
            float:left;
            width: 50%;
            height: 797px;
            background: #2e3034;
            .new {

                margin: 70px 5.5% 40px;
                overflow: hidden;
                max-width: 527px;
                h1 {
                    color:#fff;
                    font-weight: 300;
                    letter-spacing: 2px;
                    font-size: 40px;
                    line-height: 40px;
                    font-weight: 300;
                    letter-spacing: 0px;
                }

                h2 {
                    font-weight: 300;
                    letter-spacing: 2px;
                    font-size:  40px;
                    line-height: 40px;
                    color:#fff;
                }

                hr {
                    background-color: rgba(255, 255, 255, 0.3);
                    color: rgba(255, 255, 255, 0.3);
                    margin: 0 auto 59px;
                }

                .one-second {
                    margin-top: 50px;
                    img {
                        height: auto;
                    }
                    hr {
                        margin-top: 22px;
                        background-color: rgba(255, 255, 255, 0.3);
                        color: rgba(255, 255, 255, 0.3);
                        margin: 0 auto 20px;
                    }

                    h4 {
                        font-size: 24px;
                        line-height: 26px;
                        font-weight: 300;
                        letter-spacing: 0px;
                    }                       
                }
            }
        }
    }

}