.type-204 .home-2-waraper {
  width: 1230px;
  overflow: hidden;
  margin: 0 auto;
}
.type-204 .header-bottom {
  background: #f5f5f5;
}
.type-204 .mb30 {
  margin-bottom: 30px;
}
.type-204 .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.type-204 .row {
  margin-right: -15px;
  margin-left: -15px;
}
.type-204 .owl-carousel .owl-wrapper-outer {
  padding-bottom: 1px;
}
.type-204 .owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.type-204 .col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.type-204 ul {
  margin: 0;
  padding: 0;
}
.type-204 ul,
.type-204 menu,
.type-204 dir {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.type-204 .mega-menu-2 {
  left: -244px !important;
}
.type-204 .mega-menu-3 {
  left: -323px !important;
}
.type-204 .col-padd {
  padding-left: 7px;
  padding-right: 7px;
}
.type-204 .pb20 {
  padding-bottom: 20px;
}
.type-204 .pt20 {
  padding-top: 20px;
}
.type-204 .main-menu ul li .owl-carousel {
  height: 0;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.type-204 .owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.type-204 .main-menu ul li {
  float: left;
  position: relative;
}
.type-204 li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.type-204 a:-webkit-any-link {
  color: -webkit-link;
  cursor: auto;
}
.type-204 .main-menu ul li a {
  line-height: 50px;
  min-height: 50px;
  padding: 0 20px 0 20px;
  font-size: 16px;
  display: block;
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}
.type-204 a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #777;
}
.type-204 .main-menu ul li ul.sub-menu {
  border-bottom: 3px solid #65c178;
  padding: 10px 0;
  background: #fff;
}
.type-204 .main-menu ul li ul.sub-menu,
.type-204 .main-menu ul li .mega-menu {
  left: 0;
  position: absolute;
  text-align: left;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  top: 100%;
  margin: 0;
  display: block;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: perspective(600px) rotateX(-90deg);
  transform: perspective(600px) rotateX(-90deg);
  -webkit-transition: opacity 0.6s ease 0s, max-height 0.6s step-end 0s, max-width 0.6s step-end 0s, padding 0.6s step-end 0s, -webkit-transform 0.5s ease 0s;
  transition: opacity 0.6s ease 0s, max-height 0.6s step-end 0s, max-width 0.6s step-end 0s, padding 0.6s step-end 0s, -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, opacity 0.6s ease 0s, max-height 0.6s step-end 0s, max-width 0.6s step-end 0s, padding 0.6s step-end 0s;
  transition: transform 0.5s ease 0s, opacity 0.6s ease 0s, max-height 0.6s step-end 0s, max-width 0.6s step-end 0s, padding 0.6s step-end 0s, -webkit-transform 0.5s ease 0s;
  z-index: 9999999999999999999999;
}
.type-204 .main-menu ul li ul.sub-menu li:first-child {
  border-top: none;
}
.type-204 .main-menu ul li:hover ul.sub-menu,
.type-204 .main-menu ul li:hover .mega-menu {
  opacity: 1;
  max-height: 3000px;
  max-width: 3000px;
  z-index: 99999999;
  visibility: visible;
  -webkit-transform: perspective(600px) rotateX(0deg);
  transform: perspective(600px) rotateX(0deg);
  -webkit-transition: opacity 0.2s ease 0s, max-height 0s step-end 0s, max-width 0s step-end 0s, padding 0s step-end 0s, -webkit-transform 0.5s ease 0s;
  transition: opacity 0.2s ease 0s, max-height 0s step-end 0s, max-width 0s step-end 0s, padding 0s step-end 0s, -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, opacity 0.2s ease 0s, max-height 0s step-end 0s, max-width 0s step-end 0s, padding 0s step-end 0s;
  transition: transform 0.5s ease 0s, opacity 0.2s ease 0s, max-height 0s step-end 0s, max-width 0s step-end 0s, padding 0s step-end 0s, -webkit-transform 0.5s ease 0s;
}
.type-204 .main-menu ul li ul.sub-menu li {
  width: 190px;
}
.type-204 .main-menu ul li {
  float: left;
  position: relative;
}
.type-204 .main-menu ul li ul.sub-menu li a:hover {
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  color: #ffa200;
}
.type-204 .main-menu ul li ul.sub-menu li a {
  background: #fff none repeat scroll 0 0;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  margin-right: 0;
  min-height: 30px;
  text-transform: capitalize;
  width: 100%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.type-204 .main-menu ul li .mega-menu {
  background-color: #fff;
  border-bottom: 3px solid #65c178;
  box-shadow: 0 1px 1px rgba(50,50,50,0.75);
  left: -67%;
  right: auto;
  width: 1140px;
}
.type-204 a:active,
.type-204 a:hover {
  outline: 0 none;
}
.type-204 a:hover {
  color: #ffa200;
  text-decoration: none;
}
.type-204 a:focus,
.type-204 a:hover {
  color: #23527c;
}
.type-204 .main-menu ul li:hover a {
  background: #e44f4f;
  color: #fff;
}
.type-204 img {
  max-width: 100%;
  height: auto;
}
.type-204 .main-menu ul li:hover a {
  background: #e44f4f;
  color: #fff;
}
.type-204 img {
  vertical-align: middle;
}
.type-204 div {
  display: block;
}
.type-204 .owl-carousel .owl-item {
  float: left;
}
.type-204 .single-product {
  border: 1px solid #ededed;
  border-radius: 0;
  overflow: hidden;
  padding: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.type-204 .single-product .product-img a {
  padding: 0;
  display: block;
}
.type-204 h2.block-menu-title {
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}
.type-204 .mega-menu .single-product a {
  background: #fff !important;
}
.type-204 .col-xs-12 {
  float: left;
  width: 25%;
}
.type-204 .static-content a.button-link {
  background: #65c178 !important;
  color: #fff !important;
  height: 44px;
  line-height: 48px;
  font-size: 18px;
  display: inline-block;
  border-radius: 3px;
  text-transform: capitalize;
  margin-top: 20px;
}
.type-204 .static-content a.button-link:hover {
  background: #E44F4F !important;
}
.type-204 .static-content ul li {
  position: relative;
  padding: 5px 10px;
  border-right: none;
  width: 70%;
  float: left;
}
.type-204 .static-content ul li i {
  color: #ffa200;
  margin-right: 10px;
}
.type-204 .mega-menu-5 {
  left: -210% !important;
  width: 900px !important;
  padding: 20px 10px 0px 0px;
}
.type-204 .mega-menu-5.ft-mega {
  left: -222% !important;
}
.type-204 .mega-menu.mega-menu-5.fastr2 {
  left: -423% !important;
  padding: 20px 0 0;
}
.type-204 .block-menu-img {
  float: left;
  width: 30%;
}
