.type-103 a {
  text-decoration: none;
  color: #505050;
}
.type-103 ul {
  list-style: none;
  font-family: 'Tahoma', 'Arial', 'sans-serif';
  color: #8d7a65;
}
.type-103 li {
  display: block;
}
.type-103 li:before {
  color: #d2cab9;
  margin-right: 19px;
  font-family: 'FontAwesome';
  font-size: 17px;
}
.type-103 span {
  color: #000;
}
.type-103 .tit1 {
  font-size: 45px;
  font-weight: 700;
  font-style: italic;
  color: #403932;
  font-family: PT Serif;
}
.type-103 .email:before {
  content: "\f0e0";
}
.type-103 .address:before {
  content: "\f015";
}
.type-103 .fax:before {
  content: "\f02f";
}
.type-103 .telephone:before {
  content: "\f095";
}
