a {
  text-decoration: none;
  color: #505050;
}
body {
  background: white;
}
ul {
  list-style: none;
  font-family: 'Tahoma', 'Arial', 'sans-serif';
  color: #8d7a65;
}
li {
  display: block;
}
li:before {
  color: #d2cab9;
  margin-right: 19px;
  font-family: 'FontAwesome';
  font-size: 17px;
}
span {
  color: #000;
}
.tit1 {
  font-size: 45px;
  font-weight: 700;
  font-style: italic;
  color: #403932;
  font-family: PT Serif;
}
.email:before {
  content: "\f0e0";
}
.address:before {
  content: "\f015";
}
.fax:before {
  content: "\f02f";
}
.telephone:before {
  content: "\f095";
}
