.type-312{
    .mod-custom-25{
        a, a:visited, a:focus {
            text-decoration: none;
            outline: 0;
        }
        a{
            color: #0095eb;
        }
        i {
            font-style: italic;
        }
        h2, h5, h4{
            font-family: "Lato",Arial,Tahoma,sans-serif;
        }
        h2,h4{  
            color: #000;
        }
        h2{
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 15px;
        }
        h5 {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            letter-spacing: 0px; 
            color: #000
        }
        p {
            margin: 0 0 15px;
            line-height: 21px;
            font-weight: 400;
            letter-spacing: 0px;
            font-size: 13px;
        }
        hr {
            background-color: rgba(0,0,0,.08);
            color: rgba(0,0,0,.08);
            margin: 0 auto 15px;
            clear: both;
        }
        .layout-full-width {
            padding: 0;
        }
        .section{
            padding-top:100px;
            padding-bottom:60px;

        } 
        #Wrapper {
            max-width: 100% !important;
            width: 100% !important;
            margin: 0 !important;

            .one.mcb-wrap {
                width: 100%;
            }
            .clearfix {
                zoom: 1;
            }
            .clearfix:before, .clearfix:after {
                content: '\0020';
                display: block;
                overflow: hidden;
                visibility: hidden;
                width: 0;
                height: 0;
            }
            .clearfix:after {
                clear: both;
            }
            .mcb-wrap {
                float: left;
                position: relative;
                z-index: 1;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
            .one.column {
                width: 98%;
            }
            .column, .columns {
                float: left;
                margin: 0 1% 40px;
            }
            .column_attr{
                h2{
                    margin: 0 10%;
                    font-weight: 300;
                    letter-spacing: 2px;
                }
            }
            #line6{
                margin: 0;
            }
            #line1{
                margin: 0 auto 20px;
            }
            hr.no_line {
                background: none;
                color: transparent;
                margin: 0 auto 20px;
            }
            .section_wrapper{
                max-width: 1220px;
                margin: 0 auto;
                position: relative;
            }
            .section_wrapper:after{
                clear: both;
                content: " ";
                display: block;
                height: 0;
                visibility: hidden;
            }
            .column.column_divider {
                margin-bottom: 0 !important;
            }
            .column_divider hr{
                margin-bottom: 0;
            }
            .one-second.column {
                width: 48%;
            }

            .section.full-width {
                .section_wrapper {
                    max-width: 100% !important;
                }
                .one.column, .section_wrapper .one.column,.one.wrap .one.column{
                    width: 100%;
                    margin: 0;
                }
            }

            #line2{
                margin:0 auto 36px;
            }
            #line3{
                margin: 0 auto 60px;
            }

            .one-third.column {
                width: 31.333%;
            }
            img.scale-with-grid {
                max-width: 100%;
                height: auto;
            }
            #blog{
                padding-top:0px;
                padding-bottom:0px;
                background-color: rgba(255,255,255,0.6);
                #line4{
                    margin: 0 auto 50px;
                }
                #h2{
                    margin-bottom: 66px;
                }
                #ab{
                    margin: 0;


                    .blog{
                        margin: 70px 5% 60px; 
                        overflow: hidden;
                        #h2{
                            margin-left: 5%;
                        }
                        .icon_box {
                            position: relative;
                            padding: 10px 0;
                            .image_wrapper {
                                text-align: center;
                                padding: 0 20px;
                                padding-top: 5px;
                                margin-bottom: 15px;
                                img {
                                    opacity: 0.8;
                                    position: relative;
                                    top: 0;
                                }
                            }
                            .desc_wrapper {
                                text-align: center;
                                h4 {
                                    font-size: 11px;
                                    opacity: 0.3;
                                    font-size: 115%;
                                    -webkit-transition: all 0.3s ease-in-out;
                                    transition: all 0.3s ease-in-out;
                                }
                            }
                        }
                    }
                }
                #bc{
                    background-color: #494b4c;
                    width: 52%;
                    margin: 0;

                    .dark{
                        margin: 70px 5% 60px; 
                        overflow: hidden;
                        #h2{
                            color: #fff;
                            margin-left: 5%;
                        }
                        .icon_box {
                            position: relative;
                            padding: 10px 0;
                            .image_wrapper {
                                text-align: center;
                                padding: 0 20px;
                                padding-top: 5px;
                                margin-bottom: 15px;
                                img {
                                    opacity: 0.8;
                                    position: relative;
                                    top: 0;
                                }
                            }
                            .desc_wrapper {
                                text-align: center;
                                h4 {
                                    color: #767879;
                                    font-size: 11px;
                                    opacity: 0.3;
                                    font-size: 115%;
                                    -webkit-transition: all 0.3s ease-in-out;
                                    transition: all 0.3s ease-in-out;
                                } 
                            }
                        }

                    }

                }
            }
            .highlight-right .column .column {
                background: none !important;
            }
        }

        @media only screen and (max-width: 959px) and (min-width: 768px){
            .section_wrapper, .container, .with_aside .content_wrapper {
                max-width: 708px;
            }
        }
        @media only screen and (max-width: 959px) and (min-width: 768px){
            h2 {
                font-size: 34px;
                line-height: 34px;
            }
        }

        @media only screen and (max-width: 767px){
            .section {
                background-attachment: scroll!important;
                height: auto!important;
            }
        }

        @media only screen and (max-width: 767px){
            .section_wrapper .mcb-wrap, .section_wrapper .column, .container .column, .sections_group, .four.columns {
                margin: 0;
                width: 100%!important;
                clear: both;
            }
        }
        @media only screen and (max-width: 767px){
            .section_wrapper .column {
                margin: 0 0 20px;
                height: auto!important;
                padding: 0 24px;

            }
        }

        @media only screen and (max-width: 767px) and (min-width: 480px){
            h4 {
                font-size: 13px;
                line-height: 19px;
            }
        }
        @media only screen and (max-width: 767px) and (min-width: 480px){
            h2 {
                font-size: 30px;
                line-height: 30px;
                text-align: center;
            }
        }
        @media only screen and (max-width: 479px){
            h2 {
                font-size: 24px;
                line-height: 24px;
            }
        }

    }
}


