.type-607 {  
    img, a{
        transition: 0.5s all ease;
    }
	@media(min-width: 1200px){
		.container{
			min-width: 1180px;
		}
	}   
    .click-top{
        position: fixed;
        z-index: 1;
        bottom: 80px;
        right: 60px;
        padding: 18px;
        border: 2px solid #ff788b;
        border-radius: 10px;
        color: #ff788b;
    }
    .click-top:hover{
        background: #ff788b;
        color: #fff;
    }    
    .woocommerce-result-count{
        float: left;
        color: #898989;
        margin-top: 6px;
        margin-left: -15px
    }
    .dropdown{
        float: right;
        margin-right: 15px;
        margin-bottom: 50px;
    }
    .dropdown button:hover{
        color: #ff788b;
        transition: 0.5s;
    }
    .dropdown a{
        font-weight: bold;
        padding: 5px 0px;
    }
    .dropdown a:hover{
        color: #ff788b;
        background: none;
    }
    .btn{
        background-color: none;  
        border: none;
        color: #aaa;   
        margin-right: -10px;
    }
    .btn:hover{
        background: none !important;
    }
    .dropdown-menu{
        border: none;
    }
    .hover1:hover{
        margin-right: 20px;
        color: #ff788b;
        text-decoration: none ;
        font-weight: bold;
    }
    .hover1{
        margin-right: 20px;
        color: #414546;    
        font-weight: bold;   
    }   
    .pd-list-item:hover .pd-screen-img img {
        opacity: 0.7; 
    }
    .text h1{
        margin-top: 150px;
        margin-bottom: 40px;
        text-align: center;
        font-size: 70px;
        font-weight: bold;
    }
    .price_add{
        text-align: center;       
    }
    .price{
        cursor: -webkit-grab;
    }
    .pd-list{
        padding-bottom: 50px;
    }
    .pd-screen-img span.onsale{
        width: 58px;
        height: 29px;
        font-weight: 300;
        font-style: normal;
        font-family: Roboto;
        color: #ffffff;
        background: linear-gradient(to right, #ff788b 0%,#fe80aa 100%);
        left: 50%;
        bottom: 120px;
        min-height: 1px;
        min-width: 1px;
        line-height: 1.33;
        padding: 5px 13px;
        border-radius: 30px;
        transform: translateX(-50%);
        font-size: 14px;
    }   
    .child-shopping-cart{
        margin: 5px 10px;
        min-height: 1px;
        min-width: 1px;
        padding: 15px;
        border-radius: 50px;
    }   
    .child-shopping-cart:hover{
        background: #ff788b;
    }
    .pd-screen-img p{
        text-align: center;
        margin-top: 20px;
    }
    .pd-screen-img{
        text-align: center;
    }
    .row .price_add{
        display: block;
        padding-bottom: 30px;
    }
    .woocommerce-Price-currencySymbol1{
        color: #000000;
        margin-left: 30px;
    }
    .woocommerce-Price-currencySymbol {
        color: #ff788b;
    }
    .row span.onsale{
        position: absolute;
        text-align: center;
        margin: 0;
    }
    .price_add
    {
        opacity: 0; 
        transition: 1s all ease;
    }
    .col-sale-off {
        .price_add
        {
            opacity: 1;  
            transition: 1s all ease;
        }
    }
    .fa-shopping-cart{
        color: black;
    } 
    .fa-shopping-cart:hover{
        color: white;
    }   
    .tuychon{
        span{
            margin-right: 20px;
        }
    } 
    .tuychon{
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }
    .heart-retweet{

        position: relative;
        top: -142px;
        opacity: 0;
    }
    .fa-retweet:before{
        font-size: 25px;
        margin-left: 15px;
        color: #ff788b;
    }
    .fa-heart:before{
        font-size: 25px;
        color: #ff788b;
    }
    .pd-screen-img:hover{
        .heart-retweet{
            transition: 0.5s all ease;
            opacity: 1;
        }
    }
    .phantrang{
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;
        .page2{
            margin-left: 20px;
            text-decoration: none;
            font-weight: bold;
            color: #898989;
        }
        .page2:hover{
            color:  #ff788b;
        }
        .page1{
            text-decoration: none;
            color: #ff788b;
            font-weight: bold;
            margin-right: 20px;
        }
    }
    .next{
        float: right;
        font-weight: bold;
        color: #000;
        text-decoration: none;
    }
    .next:hover{
        color: #ff788b;
    }    
    /* Dành cho máy tính bảng  */
    @media all and (max-width: 768px) {
        .img{
            //width: 100%;
        }
        .text h1{
            font-size: 42px;
        }
        .next{
            display: none;
        }
    }

    /* Dành cho máy tính bảng chi�?u ngang */
    @media all and (min-width: 1024px) {}

    /* Dành cho màn hình desktop */
    @media all and (min-width: 1280px) {}
}
/* END MODULE TEST */

