.type-302{
/*----------------mod-banner----------------*/
.mod-banner{
    .banner h2{
        margin-top: 170px;

    }

    .banner{

        background-image: url("../images/theme_slider_bg.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
        padding-top: 300px;
        padding-bottom: 200px;
    }
}
}

