.type-101 a {
  text-decoration: none;
  color: #505050;
}
.type-101 img {
  width: 100%;
  height: auto;
  display: block;
}
.type-101 .logo {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0;
  position: absolute;
  left: 26px;
  z-index: 10;
  width: 80px;
}
