.type_43 {
  font-family: "Lato", Arial, Tahoma, sans-serif;
}
.type_43 .product-theme {
  text-align: center;
}
.type_43 .product-theme .themecolor {
  margin-bottom: 20px;
  font-size: 100px;
  line-height: 100px;
  display: inline-block;
  font-weight: 700;
  border: 5px solid #0095eb;
  letter-spacing: -8px;
  padding: 0px 25px 7px;
  color: #0095eb;
}
.type_43 .product-theme h2 {
  font-weight: 300;
  letter-spacing: 1.6px;
  font-size: 40px;
  line-height: 40px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
}
@media only screen and (max-width: 479px) {
  .type_43 .product-theme h2 {
    font-size: 24px;
    line-height: 24px;
  }
}
.type_43 .product-menu {
  width: 100%;
  margin: 0;
  margin-top: 100px;
}
.type_43 .product-menu .Filters {
  margin: 0;
}
.type_43 .product-menu .Filters ul {
  text-align: center;
  borer-bottom: 1px solid rgba(0,0,0,0.25);
  margin: 0;
  display: block;
}
.type_43 .product-menu .Filters ul li {
  float: none;
  width: auto;
  display: inline-block;
  list-style: none;
  margin: 0;
  line-height: 45px;
}
.type_43 .product-menu .Filters ul li a {
  border: 0;
  font-size: 17px;
  font-family: Lato;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
  padding: 20px 25px;
  position: relative;
  color: #000000;
  margin: 0;
  text-decoration: none;
}
.type_43 .product-menu .Filters ul li a:hover {
  text-decoration: none;
  color: #0095eb;
}
.type_43 .product-menu .Filters ul li a:focus {
  color: #0095eb;
  border-bottom: 3px solid #0095eb;
}
@media (max-width: 959px) {
  .type_43 .product-menu .Filters ul li a {
    font-size: 15px;
    padding: 20px 16px;
  }
}
.type_43 .product-menu .portfolio_wrapper {
  background: #edeeee;
  overflow: hidden;
  padding-top: 40px;
  text-align: center;
}
.type_43 .product-menu .portfolio_wrapper .all {
  width: 100%;
  text-align: center;
  height: 900px;
  margin-left: 2%;
  width: 97%;
  height: auto;
}
.type_43 .product-menu .portfolio_wrapper .all .item {
  width: 20%;
  text-align: center;
  float: left;
}
.type_43 .product-menu .portfolio_wrapper .all .item .image img {
  max-width: 91%;
  max-height: 256px;
}
.type_43 .product-menu .portfolio_wrapper .all .item h4 {
  margin: 16px 0;
  color: #000;
  font-weight: inherit;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.type_43 .product-menu .portfolio_wrapper .all .item .review {
  width: 90%;
  height: 47px;
  background: #0095eb;
  position: relative;
  bottom: 75px;
  left: 15px;
  color: white;
  opacity: 0;
  padding: 10px;
}
@media (max-width: 765px) {
  .type_43 .product-menu .portfolio_wrapper .all .item .review {
    width: 77%;
    position: relative;
    left: 40px;
  }
}
@media (max-width: 700px) {
  .type_43 .product-menu .portfolio_wrapper .all .item .review {
    max-width: 276px;
    position: relative;
    left: 192px;
  }
}
@media (max-width: 468px) {
  .type_43 .product-menu .portfolio_wrapper .all .item .review {
    width: 267px;
    position: relative;
    left: 13px;
  }
}
.type_43 .product-menu .portfolio_wrapper .all .item .review:hover {
  background: white;
  color: #0095eb;
}
.type_43 .product-menu .portfolio_wrapper .all .item:hover .review {
  transform: translateY(-32px);
  transition: 0.4s;
  opacity: 0.8;
}
.type_43 .product-menu .portfolio_wrapper .all .item:hover img {
  transform: translateY(-10px);
  transition: 0.4s;
}
@media (max-width: 1140px) and (min-width: 998px) {
  .type_43 .product-menu .portfolio_wrapper .all .item {
    width: 25%;
    float: left;
  }
}
@media (max-width: 997px) and (min-width: 767px) {
  .type_43 .product-menu .portfolio_wrapper .all .item {
    width: 33.33%;
    float: left;
  }
}
@media (max-width: 765px) {
  .type_43 .product-menu .portfolio_wrapper .all .item {
    width: 50%;
    float: left;
  }
}
@media (max-width: 700px) {
  .type_43 .product-menu .portfolio_wrapper .all .item {
    width: 100%;
  }
}
.type_43 .yes {
  width: 100%;
  margin: 0;
}
.type_43 .yes .clearfixx {
  zoom: 1;
  text-align: center;
}
.type_43 .yes .clearfixx h3 {
  color: #707070;
  font-family: Lora, serif;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
}
.type_43 .yes .clearfixx h3 .info-icon {
  border: 1px solid #707070;
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  line-height: 30px;
  margin-right: 10px;
  position: relative;
  width: 32px;
}
@media (max-width: 959px) and (min-width: 768px) {
  .type_43 .yes .clearfixx h3 {
    font-size: 20px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 479px) {
  .type_43 .yes .clearfixx h3 {
    font-size: 14px;
    line-height: 19px;
  }
}
.type_43 .yes .clearfixx hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid white;
}
.type_43 .yes .clearfixx button {
  width: 365px;
  height: 45px;
  border: 2px solid #0095eb;
  background: white;
  color: #0095eb;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all .3s;
}
@media (max-width: 495px) {
  .type_43 .yes .clearfixx button {
    width: auto;
    height: 63px;
    line-height: 1;
  }
}
.type_43 .yes .clearfixx button:hover {
  background: #0095eb;
  color: white;
}
.type_43 .yes .clearfix:before,
.type_43 .yes .clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.type_43 a {
  text-decoration: none;
}
.type_43 a .play {
  margin-top: 71px;
  width: 100%;
  height: 178px;
  text-align: center;
  background: #0095eb;
}
.type_43 a .play h2 {
  padding: 69px 30px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 40px;
  line-height: 40px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
}
.type_43 a .play h2 .play-icon {
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 30px;
  position: relative;
  top: 0px;
  width: 50px;
}
@media only screen and (max-width: 767px) {
  .type_43 a .play h2 .play-icon {
    display: block;
    margin: 20px auto;
  }
}
@media only screen and (max-width: 479px) {
  .type_43 a .play h2 {
    font-size: 24px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  .type_43 a .play h2 {
    font-size: 34px;
    line-height: 34px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .type_43 a .play h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
  }
}
@media (max-width: 768px) {
  .type_43 a .play {
    height: 320px;
  }
}
.type_43 a .play:hover {
  background: #0099ff;
}
.type_43 a .play:focus h2 {
  text-decoration: none;
}
.type_43 a:hover {
  text-decoration: none;
}
.type_43 .build {
  clear: both;
  text-align: center;
  background: #edeeee;
  padding-top: 100px;
}
.type_43 .build h2 {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 40px;
  line-height: 40px;
}
@media only screen and (max-width: 479px) {
  .type_43 .build h2 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 4px;
  }
}
.type_43 .build h3 {
  font-family: Lora, serif;
  font-style: italic;
  letter-spacing: 3px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
  color: #707070;
}
.type_43 .build h3 .mfn-builder-icon {
  display: inline-block;
  width: 33px;
  height: 29px;
  position: relative;
  top: 5px;
  margin-right: 8px;
  background: url(../image/splash_icon_mb.png) no-repeat;
}
.type_43 .build h3 .or {
  color: #9ea1a1;
  margin: 0 30px;
}
@media only screen and (max-width: 767px) {
  .type_43 .build h3 .or {
    display: block;
    margin: 15px 30px 0;
  }
}
.type_43 .build h3 .mfn-composer-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  position: relative;
  top: 5px;
  margin-right: 8px;
  background: url(../image/splash_icon_vc.png) no-repeat;
}
@media only screen and (max-width: 479px) {
  .type_43 .build h3 {
    font-size: 14px;
    line-height: 19px;
  }
}
.type_43 .build .ganeral {
  margin-top: 76px;
}
.type_43 .build .ganeral .image {
  padding: 0 30px;
}
@media (max-width: 1220px) {
  .type_43 .build .ganeral img {
    width: 100%;
    height: 100%;
  }
}
.type_43 .building {
  width: 100%;
}
.type_43 .building .buiding-blue {
  text-align: center;
  float: left;
  width: 50%;
  height: 797px;
  background-color: rgba(0,149,235,0.7);
}
.type_43 .building .buiding-blue .title {
  margin-left: 28%;
  max-width: 530px;
  margin-top: 208px;
}
.type_43 .building .buiding-blue .title h2 {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 40px;
  line-height: 40px;
}
.type_43 .building .buiding-blue .title .no_line {
  border-top: 1px solid rgba(255,255,255,0.3);
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  .type_43 .building .buiding-blue .title h2 {
    font-size: 30px;
    line-height: 34px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .type_43 .building .buiding-blue .title h2 {
    font-size: 32px;
    line-height: 30px;
  }
  .type_43 .building .buiding-blue .title br {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  .type_43 .building .buiding-blue .title h2 {
    font-size: 24px;
    line-height: 24px;
  }
}
.type_43 .building .buiding-blue .title .muffy {
  margin-right: 5%;
}
.type_43 .building .buiding-blue .title .muffy .image_wrapper {
  border-color: #e2e2e2;
  position: relative;
  box-sizing: border-box;
  max-width: 420px;
  height: 71px;
}
.type_43 .building .buiding-blue .title .muffy .image_wrapper img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 486px) {
  .type_43 .building .buiding-blue .title .muffy .image_wrapper img {
    max-width: 63%;
    height: auto;
  }
}
@media (max-width: 850px) {
  .type_43 .building .buiding-blue .title .muffy .image_wrapper img {
    width: 100%;
    height: auto;
    position: relative;
    left: 0%;
  }
}
@media (max-width: 745px) and (min-width: 672px) {
  .type_43 .building .buiding-blue .title .muffy .image_wrapper img {
    position: relative;
    left: 16px;
  }
}
@media (max-width: 865px) and (min-width: 750px) {
  .type_43 .building .buiding-blue .title {
    position: relative;
    left: -115px;
  }
}
@media (max-width: 747px) and (min-width: 469px) {
  .type_43 .building .buiding-blue .title {
    position: relative;
    left: -116px;
  }
}
@media (max-width: 468px) {
  .type_43 .building .buiding-blue .title {
    margin-left: 4%;
  }
}
.type_43 .building .building-black {
  float: left;
  width: 50%;
  height: 797px;
  background: #2e3034;
}
.type_43 .building .building-black .new {
  margin: 70px 5.5% 40px;
  overflow: hidden;
  max-width: 527px;
}
.type_43 .building .building-black .new h1 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0px;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .type_43 .building .building-black .new h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 479px) {
  .type_43 .building .building-black .new h1 {
    font-size: 24px;
    line-height: 24px;
  }
}
.type_43 .building .building-black .new h2 {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .type_43 .building .building-black .new h2 {
    font-size: 18px;
    line-height: 20px;
  }
}
.type_43 .building .building-black .new hr {
  background-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.3);
  margin: 0 auto 59px;
}
.type_43 .building .building-black .new .one-second {
  margin-top: 50px;
}
.type_43 .building .building-black .new .one-second img {
  height: auto;
}
@media (max-width: 1274px) and (min-width: 970px) {
  .type_43 .building .building-black .new .one-second img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 969px) {
  .type_43 .building .building-black .new .one-second img {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .type_43 .building .building-black .new .one-second img {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .type_43 .building .building-black .new .one-second img {
    margin-bottm: 30px;
    width: 100%;
  }
}
.type_43 .building .building-black .new .one-second hr {
  margin-top: 22px;
  background-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.3);
  margin: 0 auto 20px;
}
.type_43 .building .building-black .new .one-second h4 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0px;
}
@media (max-width: 767px) and (min-width: 480px) {
  .type_43 .building .building-black .new .one-second h4 {
    font-size: 13px;
    line-height: 19px;
  }
}
@media (max-width: 479px) {
  .type_43 .building .building-black .new .one-second h3 {
    font-size: 14px;
    line-height: 19px;
  }
}
@media (max-width: 479px) {
  .type_43 .building .building-black .new .one-second h4 {
    font-size: 13px;
    line-height: 19px;
  }
}
@media (max-width: 1000px) {
  .type_43 .building .buiding-blue {
    width: 100%;
    background: #494b4c;
    height: 1628px;
  }
  .type_43 .building .building-black {
    width: 84%;
    position: relative;
    bottom: 1163px;
    left: 40px;
    height: 1135px;
  }
}
@media (max-width: 500px) {
  .type_43 .building .building-black {
    position: relative;
    left: 33px;
    width: 80%;
  }
}
@media (min-width: 1240px) {
  .type_43 .building {
    max-width: 100%;
  }
}
.type_43 .layout {
  clear: both;
  padding-top: 100px;
  padding-bottom: 60px;
  width: 100%;
  height: 555px;
  background: #14161b;
  text-align: center;
}
.type_43 .layout .title {
  width: 100%;
  text-align: center;
}
.type_43 .layout .title h2 {
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 10%;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
}
@media (max-width: 479px) {
  .type_43 .layout .title h2 {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 486px) {
  .type_43 .layout .title {
    max-width: 356px;
    position: relative;
    left: 37px;
  }
}
.type_43 .layout .grid {
  margin-left: 3%;
  text-align: center;
  margin-top: 60px;
}
.type_43 .layout .grid .item {
  width: 18%;
  transform: translateY;
  float: left;
}
.type_43 .layout .grid .item img {
  max-width: 81%;
}
@media (max-width: 757px) {
  .type_43 .layout .grid .item img {
    width: 100%;
  }
}
.type_43 .layout .grid .item p {
  margin-top: 25px;
  color: white;
  opacity: 0.3;
}
@media (max-width: 468px) {
  .type_43 .layout .grid .item {
    margin-left: 5%;
    display: block;
    width: 30%;
    float: none;
  }
}
.type_43 .layout .grid .item:hover img {
  transition: 0.5s;
  transform: translateY(-5px);
}
.type_43 .layout .grid .item:hover p {
  opacity: 1;
}
@media (max-width: 468px) {
  .type_43 .layout {
    position: relative;
    bottom: 1135px;
    left: -62px;
    width: 1000px;
    height: 1487px;
  }
}
@media (max-width: 990px) and (min-width: 469px) {
  .type_43 .layout {
    position: relative;
    bottom: 1135px;
  }
}
